<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Todo App</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div id="app">
        <div class="container">
            <h1>Vue Todo App</h1>
            <div>
                <input v-model="newTodo" @keyup.enter="addTodo" placeholder="Add a new todo">
                <button @click="addTodo">Add</button>
            </div>
            <ul>
                <li v-for="(todo, index) in todos" :key="index">
                    <span>{{ todo.text }}</span>
                    <button @click="editTodo(index)">Edit</button>
                    <button @click="deleteTodo(index)">Delete</button>
                </li>
            </ul>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="app.js"></script>
</body>
</html>
